.about {
    padding-top: 17rem;

    @media (max-width: 900px) {        
        padding-top: 12rem;
    }

    &__box {
        position: relative;
        // text-align: right;
    }

    &__brackets {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 14px;
        left: 0;
        width: 256px;
        height: 147px;
        transform: rotate(-15deg);

        // @media (max-width: 1423px) {
        //     width: 137px;
        //     height: 76px;
        //     top: 15px;
        // }

        @media (max-width: 1255px) {
            top: auto;
            bottom: 7px;
            left: 25px;
        }

        @media (max-width: 1016px) {
            top: 12px;
            bottom: 0;
            left: 0;
            width: 142px;
            height: 85px;
        }

        @media (max-width: 900px) {
            top: auto;
            bottom: 10px;
            left: -5px;
            width: 202px;
            height: 120px;
        }

        @media (max-width: 640px) {
            top: auto;
            bottom: 10px;
            left: -5px;
            width: 159px;
            height: 89px;
        }

        @media (max-width: 480px) {
            top: auto;
            bottom: 10px;
            left: -5px;
            width: 115px;
            height: 60px;
        }

        > svg {            
            height: inherit;
        }

        .bracketL {
            > path {
                fill: #000;
            }
        }

        .bracketR {
            transform: scaleX(-1);
        }

        picture {
            width: 100%;            
            height: 100%;
            transform: rotate(15deg);
            overflow: hidden;
            position: relative;
        }

        img {
            position: absolute;
            width: 70%;   
            height: 70%;     
            object-fit: cover;    
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__content {        
        width: 100%;
        max-width: 112rem;
        margin-left: auto;

        @media (max-width: 1423px) {
            max-width: 95rem;
        }

        
        // @media (max-width: 1130px) {
        //     max-width: 80rem;
        // }
    }

    &__title {
        font-size: 7rem;
        text-align: justify;
        letter-spacing: -4.25px;
        line-height: 0.842;
        margin-bottom: 3rem;
        white-space: pre-wrap;
        width: 100%;
        text-indent: 33.5%;

        // span {
        //     display: block;
        //     margin-left: auto;
        //     text-align: right;

        //     @media (max-width: 480px) {
        //         text-align: left;
        //     }
        // }

        @media (max-width: 1423px) {
            text-indent: 34.5%;
            font-size: 6rem;
        }

        @media (max-width: 900px) {
            font-size: 5.3rem;
            text-indent: 35%;
            letter-spacing: -2.5px;    
        }

        @media (max-width: 700px) {              
            font-size: calc(23% + 5.5vw);      
        }

        @media (max-width: 620px) {     
            // text-indent: 24rem;         
            font-size: calc(23% + 5.5vw);      
        }

        @media (max-width: 520px) {     
            // text-indent: 20rem;             
        }

        @media (max-width: 480px) {     
            font-size: calc(5% + 6.17vw);
            white-space: normal;
            text-align: left;
            letter-spacing: -1.5px;  
            text-indent: 0;
        }
    }

    &__description {
        display: flex;
        justify-content: space-between;
        position: relative;

        &-l {          
            width: 50.8rem;  

            @media (max-width: 1423px) {
                width: 44.8rem;  
            }

            @media (max-width: 900px) {
                width: 37.75rem;  
            }
        }

        &-m {            
            width: 37.9rem;
            text-align: left;
            margin-left: auto;
            padding-right: 9px;

            @media (max-width: 1423px) {
                padding-right: 0;
                width: 34.5rem;
            }

            @media (max-width: 900px) {
                width: 34.5rem;  
            }

            @media (max-width: 420px) {
                width: 27rem;  
            }
        }
        
        img {
            position: absolute;
            right: 31px;
            top: -88px;
            width: 253px;
            object-fit: contain;

            @media (max-width: 1423px) {
                top: -76px;
                right: 19px;
                width: 220px;
            }

            @media (max-width: 1016px) {
                top: -69px;
                right: 3px;
                width: 190px;
            }

            @media (max-width: 900px) {
                top: -62px;
                width: 140px;
                right: 0;
            }

            @media (max-width: 700px) {
                top: calc(-9% + -5.2vw);
                width: calc(48% - 25.57vw);
            }

            @media (max-width: 480px) {
                top: calc(-9% + -0.2vw);
                width: calc(48% - 28.57vw);
                right: 1px;
            }

            @media (max-width: 420px) {
                top: calc(-9% + 0.7vw);
            }
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        flex-basis: 76rem;

        @media (max-width: 1423px) {            
            flex-basis: 68.5rem;
        }

        // @media (max-width: 900px) {            
        //     flex-basis: 58rem;
        // }
    }
}