.about {
    padding-top: 17rem;

    &__box {
        position: relative;
        // text-align: right;
    }

    &__brackets {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 14px;
        left: 0;
        width: 256px;
        height: 147px;
        transform: rotate(-15deg);

        // @media (max-width: 1423px) {
        //     width: 137px;
        //     height: 76px;
        //     top: 15px;
        // }

        @media (max-width: 1255px) {
            top: auto;
            bottom: 7px;
            left: 25px;
        }

        > svg {            
            height: inherit;
        }

        .bracketL {
            > path {
                fill: #000;
            }
        }

        .bracketR {
            transform: scaleX(-1);
        }

        picture {
            width: 100%;            
            height: 100%;
            transform: rotate(15deg);
            overflow: hidden;
            position: relative;
        }

        img {
            position: absolute;
            width: 70%;   
            height: 70%;     
            object-fit: cover;    
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__content {        
        width: 100%;
        max-width: 112rem;
        margin-left: auto;

        @media (max-width: 1423px) {
            max-width: 95rem;
        }

        
        // @media (max-width: 1130px) {
        //     max-width: 80rem;
        // }
    }

    &__title {
        font-size: 7rem;
        text-indent: 37.8rem;
        text-align: justify;
        letter-spacing: -4.25px;
        line-height: 0.842;
        margin-bottom: 3rem;
        white-space: pre-wrap;

        @media (max-width: 1423px) {
            font-size: 6rem;
            text-indent: 31rem;
        }

        // @media (max-width: 1130px) {
        //     font-size: 5rem;
        //     text-indent: 31rem;
        // }
    }

    &__description {
        display: flex;
        justify-content: space-between;
        position: relative;

        &-l {          
            width: 50.8rem;  
            font-size: 2.4rem;

            @media (max-width: 1423px) {
                width: 44.8rem;  
                font-size: 2.2rem;
            }
        }

        &-m {            
            width: 37rem;
            font-size: 2rem;
        }
        
        img {
            position: absolute;
            right: 31px;
            top: -88px;
            width: 253px;
            object-fit: contain;

            @media (max-width: 1423px) {
                top: -76px;
                right: 19px;
                width: 220px;
            }
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        flex-basis: 76rem;

        @media (max-width: 1423px) {
            
            flex-basis: 68.5rem;
        }
    }
}

.description {
    &-l {
        text-align: left;
        font-weight: 600;
        line-height: 1.085;
        letter-spacing: -0.7px;
        text-transform: uppercase;
    }

    &-m {
        font-family: "JetBrainsMono";
        font-weight: 400;
        line-height: 1;
        letter-spacing: -1.44px;
        text-align: left;
        margin-left: auto;
        padding-right: 9px;

        @media (max-width: 1423px) {
            padding-right: 0;
        }
    }
}