.services {
    padding-top: 15rem;

    @media (max-width: 900px) {
        padding-top: 10rem;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        gap: 18rem;
    }

    &__title {
        margin-right: auto;
    }

    &__description {
        margin-right: auto;
        align-self: flex-end;
        width: 42.2rem;

        @media (max-width: 900px) {
            width: 34.5rem;
        }
    }

    &__box {
        flex-basis: 74.7rem;

        @media (max-width: 1423px) {
            flex-basis: 61.7rem;
        }

        @media (max-width: 900px) {
            flex-basis: 49.75rem;
        }
    }
}