.header {
    font-size: 1.6rem;  
    font-family: 'JetBrainsMono', monospace;
    background-color: $header-black;
    padding: 0 20px;

    @media (max-width: 470px) {        
        padding: 0 10px;
    }

    &__box {
        display: flex;
        align-items: center;
        gap: 120px;
        width: 100%;
        padding: 1rem 0;

        @media (max-width: 900px) {
            padding: 1.88rem 0;
        }

        > img {
            width: 55px;
            height: 55px;

            @media (max-width: 900px) {
                width: 40px;
                height: 40px;
            }

            // @media (max-width: 470px) {
            //     width: 30px;
            //     height: 30px;
            // }
        }

        @media (max-width: 1120px) {
            gap: 50px;
        }
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        flex-basis: 105.85rem;
        margin-left: auto;

        @media (max-width: 1120px) {
            gap: 20px;
        }

        // @media (max-width: 1015px) {
        //     gap: 15px;
        // }

        @media (max-width: 900px) {            
            flex-basis: auto;
        }

        // @media (max-width: 470px) {            
        //     gap: 18px;
        // }
    }

    &__link {
        color: #fff;

        &-phone {
            flex-basis: 17rem;
            letter-spacing: -0.3px;
            text-align: right;
        }
    }
}

.burgerMenu {
    width: 27px;
    height: 22px;
    background-image: url(../assets/burgerMenu.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    order: 1;

    // @media (max-width: 470px) {
    //     width: 17px;
    //     height: 12px;
    // }
}