// @font-face {
// 	font-family: JetBrains Mono;
// 	font-display: swap;
// 	src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
// 	font-weight: 400;
// 	font-style: normal;
// }

.header {

    // &__nav {
    //     flex-basis: 72.4rem;
    // }

    &__list {
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;        

        @media (max-width: 1120px) {
            gap: 20px;
        }
    }
}